<div class="container">
    <div class="upper-middle-section">
        <div class="box" id="box1">Models</div>
        <div class="icon"><img src="https://icon-library.com/images/right-arrow-icon/right-arrow-icon-8.jpg" width="40" height="40" alt="arrow"></div>
        <div class="box" id="box2">Graphs</div>
    </div>
    <div class="lower-middle-section">
        <div class="bigbox">
            <div class="whitebox">
                <p>Users</p>
            </div>
        </div>
    </div>    
</div>