*{
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: black;
    color:white
}

.main-content {
    /* position: relative; */

    height: calc(100vh - 60px);

    /* height: 80%; */

    background-color: #000223;
    color: white;
}